@mixin fface($family, $path, $svg, $weight: normal, $style: normal) {
    @font-face {
        font-family: $family;
        src: url('#{$path}.eot');
        src: url('#{$path}.eot?#iefix') format('embedded-opentype'),
            url('#{$path}.woff') format('woff'), url('#{$path}.ttf') format('truetype'),
            url('#{$path}.svg##{$svg}') format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}

@include fface('Gilroy', '../assets/font/Gilroy-Regular', 'Gilroy');

// source: https://stackoverflow.com/questions/3922739/limit-text-length-to-n-lines-using-css
@mixin textLinesLimit($lines) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    line-clamp: $lines;
    -webkit-box-orient: vertical;
}

// source: https://stackoverflow.com/questions/5214127/css-technique-for-a-horizontal-line-with-words-in-the-middle
@mixin lineWithWordsInTheMiddle($textSelector, $color: #000) {
    #{$textSelector} {
        overflow: hidden;
        text-align: center;
    }
    #{$textSelector}::before,
    #{$textSelector}::after {
        background-color: $color;
        content: '';
        display: inline-block;
        height: 1px;
        position: relative;
        vertical-align: middle;
        width: 50%;
    }
    #{$textSelector}::before {
        right: 0.5em;
        margin-left: -50%;
    }
    #{$textSelector}::after {
        left: 0.5em;
        margin-right: -50%;
    }
}

// source: https://www.digitalocean.com/community/tutorials/css-scrollbars
@mixin customScroll(
    $scroll-width-px,
    $scroll-width-auto-or-thin,
    $scroll-padding,
    $scroll-color,
    $bg-color
) {
    /* Works on Firefox */
    * {
        scrollbar-width: $scroll-width-auto-or-thin; /* "auto" or "thin" */
        scrollbar-color: $scroll-color $bg-color; /* scroll thumb and track */
    }

    /* Works on Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: $scroll-width-px; /* width of the entire scrollbar */
    }

    *::-webkit-scrollbar-track {
        background: $bg-color; /* color of the tracking area */
    }

    *::-webkit-scrollbar-thumb {
        background-color: $scroll-color; /* color of the scroll thumb */
        border-radius: 30px; /* roundness of the scroll thumb */
        border: $scroll-padding solid $bg-color; /* creates padding around scroll thumb */
    }
}
