// colors
$dark-color: #eeeeee;
$middle-color: #f4f4f7;
$light-color: #fafafa;

//sizing
$section-padding: 20px;
$little-padding: 10px;
$msgs-bid-margin: 25px;
$msgs-little-margin: 18px;

// fonts
$little-size: 12px;
$regular-size: 14px;
